.layout-notification
  .chat
    .chat-side
      .chat-user.clearfix
        %h5
          = current_user.name
        .chat-user__actions
          = link_to new_group_path, class: 'chat-user__action' do
            %i.fa.fa-pencil-square-o
          = link_to edit_user_registration_path, class: 'chat-user__action' do
            %i.fa.fa-cog
      = render 'layouts/sidebar'
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2 group_name
          %p.chat-header__users
            Members:
            %span.chat-header__user
              user1
            %span.chat-header__user
              user2
        .chat-header--right
          = link_to 'Edit', edit_group_path(params[:group_id]), class: 'chat-header__edit-btn'
      = render partial: 'layouts/messages', locals: { messages: @messages}
